@charset "UTF-8";

 body{
    font-family: Arial, Helvetica, sans-serif;
 }

 table{
    width: 500px;
    height: 100px;
    border-collapse: collapse;
    position: relative;
 }
 
 caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
 }
 thead{
    background-color: gray;
 }

 thead th{
    position: sticky;
    top: -1px;
    background-color: gray;
 }

 td, th{
    border:  1px solid black;
    padding: 10px;
    text-align: center;
 }
